<div class="container">
  <h1>Your Lists</h1>
  <br>
  <hr>
  <div class="row">
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
     <h1><%= list.name %></h1>
    <% end %>
    <br>
    <br>
  <% end %>
  </div>

  <br>

  <%= link_to new_list_path do %>
    <button><%= "Create a new list" %></button>
  <% end %>
</div>
