<div class="container">
  <h1>Your Lists</h1>
  <br>
  <hr>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-md-6"> <!-- Use Bootstrap column classes to create a grid -->
        <%= link_to list_path(list), class: "list-link" do %>
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title"><%= list.name %></h2>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <br>

  <%= link_to new_list_path, class: "btn btn-primary" do %>
    <%= "Create a movie list" %>
  <% end %>
</div>
