<div class="container">
  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col-md-6">
        <div>
          <%= link_to movie_path(movie) do %>
            <h1><%= movie.title %></h1>
          <% end %>
          <p>Rating: <%= movie.rating %>/10</p>
        </div>
      </div>
      <div class="col-md-6">
        <img src="<%= movie.poster_url %>" alt="Movie Poster" class="img-fluid" style="height: 400px; width: 300px;">
      </div>
    <% end %>
  </div>
</div>
